@use 'src/styles/vars';

// PAGE COMPONENT

/* Mobile version */
.page {
  margin: 0 auto; 
  
  &-list {
    margin-top: 0rem;
  }

  &-container {
    width: 100%;

    &--container {
      background-color: rgba(52, 52, 52, 0.5);
      height: 100%;
    }

    &--title {
      text-align: center;
      padding-top: 4rem;
      font-size: 35px;
      color: vars.$light-color;
    }

    &--content {
      padding: 2rem;
  
      &__subtitle {
        text-align: justify;
        font-size: 20px;
        padding: 1rem 0;
        font-size: 25px;
      }
    
      &__img {
        display: flex;
        background-color: none;
        height: 46.4vh;
        width: 50vh;
        object-fit: cover;
        border-radius: 30px;
      }

      &__img-end {
        display: flex;
        background-color: vars.$imageBackground;
        height: 46.4vh;
        max-width: 50vh;
        object-fit: contain;
        border-radius: 30px;
        justify-content: center;
      }

      &__win-message {
        font-size: 38px;
        padding: 1rem;
        background-color: rgba($color: vars.$winMessage, $alpha: 0.5);
        border: rgba($color: vars.$winMessage, $alpha: 0.8) 10px solid;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 2rem;
      }

      &__loss-message {
        font-size: 38px;
        padding: 1rem;
        background-color: rgba($color: vars.$lossMessage, $alpha: 0.5);
        border: rgba($color: vars.$lossMessage, $alpha: 0.8) 10px solid;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    &--choice {
      font-size: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__content {
        margin: 2rem;
        text-align: center;
      }

      &__description {
        margin-bottom: 1rem;
      }

      &__button {
        margin: 2rem auto;
        width: 300px;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$element-color;
        color: vars.$light-color;
        border: none;
        border-radius: 50px;
      }

      &__button:hover {
        background-color: vars.$element-color-hover;
      }

      &__button-return {
        margin: 0 auto;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$element-color;
        border: none;
        font-size: 20px;
        font-family: vars.$buttonFont;
      }

      &__button-return:hover {
        background-color: vars.$element-color-hover;
      }
    }
  }
}



/* Tablet version */
@media (min-width:500px) {
  .page {
    &-container {
      width: 87vw;
      height: 100%;
      border-radius: 30px;

      &--container {
        height: 100%;
      }
  
      &--content {
        &__subtitle {
          padding: 1rem;
        }
      }
  
      &--choice {
        padding: 1rem;
  
        &__content {
          height: 100%;
          width: 90%;
        }
  
        &__button {
          margin: 0 auto;
        }

        &__button-return {
          height: 50px;
        }

        &__button-return-container {
          display: flex;
          flex-direction: row;
        }

      }
    }
  }
}


/* Desktop version */
@media (min-width:990px) {
  .page-container {
    height: 78vh;
  
    &--container {
      height: 78vh;
    }

    &--content {
      margin-top: 2.5rem;
      display: flex;
      padding: 1rem;
    
      &__img {
        width: 100vw;
      }

      &__img-end {
        height: 40.7vh;
      }
    }

    &--choice {
      flex-direction: row;

      &__content {
        width: 90%;
      }

      &__button-return-container {
        margin-top: 5rem;
      }
    }
  }
}
