// import
@use 'src/styles/vars';


// GENERAL APP 

/*----- TRANSPARENT CONTAINER IN ALL OF PAGES -----*/

/* Mobile version */

/* CONTAINER WITHOUT SCROLL */
.container{
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: vars.$containerBackgroundColor;
  width: 100vw;
  height: 100vh;  
  margin: 0 auto;
}

/* CONTAINER WITH SCROLL IN OVERFLOW Y */
.container-scrolly {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: vars.$containerBackgroundColor;
  width: 100vw;
  height: 100vh;  
  margin: 0 auto;
}

/* SCROLLBAR STYLE */
.container-scrolly::-webkit-scrollbar {
  width: 16px;
}

.container-scrolly::-webkit-scrollbar-track {
  background: vars.$dark-color;
  border-radius: 50px;
}

.container-scrolly::-webkit-scrollbar-thumb {
  background-color: vars.$element-color;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

/* CONTAINER WITH SCROLL IN OVERFLOW Y MOBILE VERSION ONLY */
.container-scrolly-mobile-only {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: vars.$containerBackgroundColor;
  width: 100vw;
  height: 100vh;  
  margin: 0 auto;
}

/* SCROLLBAR STYLE */
.container-scrolly-mobile-only::-webkit-scrollbar {
  width: 16px;
}

.container-scrolly-mobile-only::-webkit-scrollbar-track {
  background: vars.$dark-color;
  border-radius: 50px;
}


.container-scrolly-mobile-only::-webkit-scrollbar-thumb {
  background-color: vars.$element-color;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

/* CONTAINER WITH SCROLL IN OVERFLOX X */
.container-scrollx {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: vars.$containerBackgroundColor;
  width: 100vw;
  height: 100vh;  
  margin: 0 auto;
}

/* SCROLLBAR STYLE */
.container-scrollx::-webkit-scrollbar {
  width: 16px;
}

.container-scrollx::-webkit-scrollbar-track {
  background: vars.$dark-color;
  border-radius: 50px;
}

.container-scrollx::-webkit-scrollbar-thumb {
  background-color: vars.$element-color;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

/* Desktop version */
@media (min-width:500px) {
  .container {
    width: 87vw;
    height: 78vh; 
    border-radius: 40px; 
    margin-top: -20px;
  }

  .container-scrolly {
    width: 87vw;
    height: 78vh; 
    border-radius: 40px; 
    margin-top: -20px;
  }

  .container-scrolly-mobile-only {
    width: 87vw;
    height: 78vh; 
    border-radius: 40px; 
    margin-top: -20px;
  }

  .container-scrollx {
    width: 87vw;
    height: 78vh; 
    border-radius: 40px; 
    margin-top: -20px;
  }
}

@media (min-width:900px) {
  .container-scrolly-mobile-only {
    overflow-y: hidden;
  }

  .container-scrollx {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
