@use 'src/styles/vars';


// HAMBURGER AND CLOSE ICON FOR MOBILE VERSION
.burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: vars.$light-color;
  }

 .burger-bar::before,
 .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }

  .show-nav .burger-bar {
    background: transparent;
  }

  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }

  .show-nav .burger-bar::after{
    transform: rotate(-45deg);
  }

  .show-nav .navbar__links {
    width: 100vw;
    right: 0;
    visibility: visible;
  }


// HEADER LINKS

/* Desktop version */
.navbar {
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &-header__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 2rem;
    top: 0; 
    left: 0;
    width: 100%;
    min-height: 75px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  }

  &-header__link {
    padding: 0 0.3rem;
    color: inherit;
    font-size: 30px;
  }

  &__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
  }
}

/* Mobile version */
@media screen and (max-width:900px) {
  .navbar {
    &__links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: -100vw;
      bottom: 0;
      height: 100vh;
      padding: 1rem;
      background-color: vars.$dark-color;

    }

    &-header__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      padding: 3rem 0 0 0;
    }

    &__link {
      display: block;
      padding: 1.5rem;
    }

  }
}


// FOOTER LINKS

/* Desktop version*/
.navbar {
  &__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-footer__links {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    padding: 2rem;
    bottom: 0; 
    left: 0;
    width: 100%;
    min-height: 75px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }

  &__link {
    padding: 0 1rem;
    color: inherit;
    font-size: 30px;
  }

  &__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    display: none;
  }
}



/* Mobile version */
@media screen and (max-width:900px) {
  .navbar {
    &__links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: -100vw;
      bottom: 0;
      height: 100vh;
      padding: 1rem;
      background-color: vars.$dark-color;
      visibility: hidden;
    }

    &-footer__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      padding: 0 0 3rem 0;
    }

    &__link {
      display: block;
      padding: 1.5rem;
    }

    &__burger {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;
    }

    &__burger:hover {
      cursor: pointer;
    }
  }
}
