// import
@use 'src/styles/vars';

// HOME COMPONENT

/* Responsive */
.home {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 100vh;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    background-color: vars.$element-color;
    color: vars.$light-color;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    box-shadow: 1px 1px 10px vars.$dark-color ;
    text-align: center;
    font-family: vars.$buttonFont;

    &:hover {
      background-color: vars.$element-color-hover;
    }
  }

  &__logo {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 80vw;
    padding-bottom: 5rem;
  }

}
