// import
@use 'src/styles/vars';


// PROFIL FORM COMPONENT

/* Mobile version */
.profil-form {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-container {
    width: 100%;
    margin-top: 6rem;
  }

  .user-info-email {
    font-size: 32px;
    height: 100px;
  }

  &-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: vars.$buttonFont;
    margin-top:4rem;


    &--left {
      margin-top: 1rem;
      font-size: 1em;
      background-color: vars.$element-color;
      border: 0;
      width: 200px;
      border-radius: 50px;
      padding: 1rem;
    }
 
    &--right {
      margin-top: 1rem;
      font-size: 1em;
      background-color: vars.$element-color;
      border: none;
      width: 200px;
      border-radius: 50px;
      padding: 1rem;
    }

    &-button:hover {
      background-color: vars.$element-color-hover;
    }
  }
}

.user {
  margin: .3em .3em .3em 0;
}

/* Tablet version */
@media (min-width:500px) {

  .profil-form {
    .profil-form-container {
      margin-top: 0;
    }

    .user-info-email {
      height: 200px;
    }
  }
}

/* Tablet and Desktop version */
@media (min-width:700px) {
  .profil-form-button {
    flex-direction: row;
    justify-content: space-around;
  }
}
