// import
@use 'src/styles/vars';


// STORYLIST COMPONENT

.story-list {
  opacity: 1;
  width: 100vw;
  height: 100%;
  margin-top: 3rem;

  &__list {
    margin: 0 auto;
    width: 90%;
    height: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
  }
}

// STORY COMPONENT

.story {
    &-subtitle {
      padding-top: 6rem;
      padding-bottom: 3rem;
      font-size: 24px;
      text-align: center;
      width: 100%;
      margin-top: 20px;
    }
    &-container {
      margin: 1rem;
      background-color: vars.$dark-color;
      width: 90%;
      height: 430px;
      border-radius: 40px;

      &__img {
        background-color: vars.$imageBackground;
        width: 100%;
        height: 10rem;
        object-fit: contain;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }

      &__title {
        text-align: center;
       
      }
      &__excerpt {
        width: 100%;
        height: 100px;
        font-size: 20px;
        overflow-y: auto;
        margin-top: -15px;
        margin-bottom: 15px;
        padding: 1rem;
        
      }

      &__excerpt::-webkit-scrollbar {
        width: 16px;
      }
      &__excerpt::-webkit-scrollbar-track {
        background: vars.$dark-color;
        border-radius: 50px;
      }
      &__excerpt::-webkit-scrollbar-thumb {
        background-color: vars.$element-color;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
      }
      &__button {
        margin: 0 auto;
        font-size: 1em;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$element-color;
        border: none;
        border-radius: 50px;
        color: vars.$light-color;
        text-transform: uppercase;
      }
      &__button:hover {
        background-color: vars.$element-color-hover;

      }
    }
  }

/* Tablet version */
  @media (min-width:500px) {

  // STORYLIST COMPONENT

    .story-list {
      width: 85vw;
      height: 100vh;
      padding: 1rem;

      &__list {
        margin: 0 auto;
        width: 80vw;
        height: 100%;
      }
    }

  // STOPY COMPONENT

    .story {
      &-container {
        width: 80%;
      }

      &-subtitle {
        padding: 2rem;
        font-size: 24px;
        text-align: center;
        width: 100%;
        margin-top: 0px;
      }
    }
  }

/* Desktop version */
  @media (min-width:900px) {

    // STRORYLIST COMPONENT
    .story-list {
      margin-top: -1rem;
      height: 75vh;
      width: 78vw;

      &__list {

        &-container {
          display: flex;
          flex-direction: row;
          width: 100vw;
        }
      }
    }
    .story-list__list {
      margin: 0 auto;
      max-width: 85vw;
      height: 65vh;
    }

    // STORY COMPONENT
    .story {
      &-subtitle {
        margin-top: -10px;
        font-size: 24px;
        text-align: center;
        width: 85vw;
      }
      &-container {
        margin-top: 0;
        width: 400px;
      }
    }
  }
