@use 'src/styles/vars';
@use 'sass:color';


/* FOOTER */

.footer{
  position: absolute;
  bottom: 0;
 }

 .footer-container {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100vw;
  height: 100vh;  
}

 .footer__links{
   font-size: 2rem;
   font-weight: 1rem;
   padding: 5px 5px;
   color: #fff;
 }
 .contact__form__item{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
 }
 .contact__form{
   width: 90%;
   height: 500px;
   background-color: #000;
   opacity: 0.8;
   background-size: 200px;
   flex-direction: row;
   border-radius: 40px;
   margin: 20px auto;
 }
 .contact__form__message{
  width: 100%;
  height: 300px;
  border-radius: 30px;
  margin-top: 10px;
 }
 .contact__form__title{
   margin: 20px;
   color: #fff;
   font-size: 2rem;
   font-weight: 1rem;
   text-align: center;
 }
 input::placeholder {
  color: #000;
  font-size: 2em;
  font-family: 'Pompiere', sans-serif, Arial;
}
 .contact__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: vars.$dark-color;
  color: vars.$light-color;
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  box-shadow: 1px 1px 10px vars.$dark-color ;
  text-align: center;
  font-family: 'Pompiere', sans-serif, Arial;
}
 .cgu {
   background-color: aqua;
 }

 .game-rules{
  background-color: aqua;
 }
.credits{
  background-color: aqua;
}
.legal-mentions{
  background-color: aqua;
}















.story-list {
  opacity: 1;
  width: 100vw;
  height: 100%; 
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  

  &__list {
    margin: 3rem;
    width: 90%;
    height: 100%;
  }
}


.story-list::-webkit-scrollbar {
  width: 16px;
}

.story-list::-webkit-scrollbar-track {
  background: black;
  border-radius: 50px;
}

.story-list::-webkit-scrollbar-thumb {
  background-color: #b6463e;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}

.story {
  
    &-subtitle {
      padding: 2rem;
      font-size: 24px;
      text-align: center;
      width: 100%;
      margin-top: 20px;
    }

    &-container {
      margin: 1rem 0;
      background-color: black;
      width: 90%;
      height: 410px;
      border-radius: 40px;
    
      &__img {
        background-color: none;
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }
    
      &__title {
        width: 100%;
        height: 50px;
        font-weight: bold;
        text-align: center;
        font-size: 24px;
        margin-top: 1rem;
      }
    
      &__excerpt {
        width: 100%;
        height: 100px;
        font-size: 20px;
        overflow-y: auto;
        margin-top: -15px;
        margin-bottom: 15px;
        padding: 1rem;
      }

      &__excerpt::-webkit-scrollbar {
        width: 16px;
      }
      
      &__excerpt::-webkit-scrollbar-track {
        background: black;
        border-radius: 50px;
      }
      
      &__excerpt::-webkit-scrollbar-thumb {
        background-color: #b6463e;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;  
      }
    
      &__button {
        margin: 0 auto;
        font-size: 18px;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #b6463e;
        border: none;
        border-radius: 50px;
      }

      &__button:hover {
        background-color: #8b3731;
        color: #fff;
      }
    }
  }

  @media (min-width:500px) {
    .container {
      background-color: rgba($color: #000000, $alpha: 0.5);
      width: 87vw;
      height: 80vh; 
      border-radius: 40px; 
    }

    .story-list {
      margin-top: 60px;
      width: 90vw;
      height: 80vh;
      padding: 1rem;

      &__list {
        margin: 0 auto;
        width: 100vw;
        height: 100%;
      }
    }

    .story {

      &-container {
        margin: 1rem;
        width: 80%;
      }
    }
  }

  @media (min-width:990px) {
    .container {
      background-color: rgba($color: #000000, $alpha: 0.5);
      width: 85vw;
      height: 68vh; 
      border-radius: 40px; 
      margin-top: -80px;
    }

    .story-list {
      margin-top: 60px;
      height: 71vh;
      width: 85vw;
      overflow-y: hidden;
      overflow-x: scroll;
    }

    .story-list::-webkit-scrollbar {
      width: 16px;
    }
    
    .story-list::-webkit-scrollbar-track {
      background: black;
      border-radius: 50px;
    }
    
    .story-list::-webkit-scrollbar-thumb {
      background-color: #b6463e;
      border: 4px solid transparent;
      border-radius: 8px;
      background-clip: padding-box;  
    }

    .story-list__list {
      margin: 0 auto;
      max-width: 85vw;
      height: 65vh; 
    }


    .scrollbar {
      display: flex;
    }

    .story {

      &-subtitle {
        margin-top: -10px;
        font-size: 24px;
        text-align: center;
        width: 85vw;
      }

      &-container {
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 400px;
      }
    }
  }

  
  
