// import
@use 'src/styles/vars';


// LOGIN COMPONENT

/* Mobile version */
.login-form {
  height: 100%; 

  &-container {
    width: 100%;
  }

  &-left {
    text-align: center;
    margin: 0 auto;
    padding-top: 3rem;
    width: 80%;
    height: 60vh;
    border-top: 3px solid vars.$element-color;

    &-title {
      font-size: 28px;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &-message {
      font-size: 28px;
      padding-bottom: 1rem;
    }

  }

  &-right {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 60vh;
    border-bottom: 3px solid vars.$element-color;

    &-title {
      font-size: 28px;
      padding-bottom: 1rem;
      padding-top: 3rem;
    }

    &-message {
      font-size: 28px;
      padding-bottom: 1rem;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }
  }

  &-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;

    &--button {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 1em;
      color: vars.$light-color;
      background-color: vars.$element-color;
      border-radius: .3em;
      border: 0;
      padding: 0.7em;
      width: 170px;
      height: 50px;
      border-radius: 50px;
    }

    &--button:hover {
      background-color: vars.$element-color-hover;
    }

    & a {
      font-size: 28px;
      padding-top: 1rem;
    }
  }
}

/*----- ERROR MESSAGE -----*/
.login-form-right-title-congrat {
  font-size: 24px;
  padding: 0.5rem;
  background-color: rgba($color: vars.$winMessage, $alpha: 0.5);
  border: rgba($color: vars.$winMessage, $alpha: 0.8) 5px solid;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

.login-form-right-title-error {
  font-size: 24px;
  padding: 0.5rem;
  background-color: rgba($color: vars.$lossMessage, $alpha: 0.5);
  border: rgba($color: vars.$lossMessage, $alpha: 0.8) 5px solid;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
}


/* Tablet and Desktop version */
@media (min-width:600px) {
  .login-form {
    padding: 0 2rem;
    width: 100%;

    &-container {
      &--container {
        display: flex;
      }
    }

    &-left {
      padding: 3rem;
      margin-top: 3rem;
      float: left;
      width: 100%;
      border-top: none;
      border-left: 2px solid vars.$element-color;
  
      &-title {
        padding-top: 0rem;
      }
    }
  
    &-right {  
      padding: 3rem;
      margin-top: 3rem;
      width: 100%;
      float: right;
      border-bottom: none;
      border-right: 2px solid vars.$element-color;

      &-title {
        padding-top: 0rem;
      }
    }

    &-element {
      width: 100%;
    }
  }
}
