// import
@use 'src/styles/vars';


// PRINCIPAL CONTAINER

.container {
  &-button--return {
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$element-color;
    border: none;
    font-size: 20px;
    font-family: vars.$buttonFont;
  }
}


// PROFIL EDIT FORM

/* Mobile version */
.profil-form {
  text-align: center;

  &-title {
    margin-top: -0.1rem ;
  }

  &-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &--left {
      margin-top: 1rem;
      font-size: 1em;
      color: vars.$light-color;
      background-color: vars.$element-color;
      border: 0;
      width: 200px;
      border-radius: 50px;
      padding: 1rem;
    }
 
    &--right {
      margin-top: 1rem;
      font-size: 1em;
      color: vars.$light-color;
      background-color: vars.$element-color;
      border: none;
      width: 200px;
      border-radius: 50px;
      padding: 1rem;
    }

    &-button:hover {
      background-color: vars.$element-color-hover;
    }
  }
}

.field {
  margin: .3em .3em .3em 0;

  &-left {
    width: 100%;
    padding: 1em;
    height: 2.65em;
    font-size: 20px;
  }
}


/* Tablet Version */
@media (min-width:500px) {
  .profil-form {
    &-title {
      margin-top: 3rem ;
    }

    &-button {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-top: 1.3rem;
      
      &--left {
        font-size: 1em;
        background-color: vars.$element-color;
        border: 0;
        width: 200px;
        border-radius: 50px;
        padding: 1rem;
      }
   
      &--right {
        font-size: 1em;
        background-color: vars.$element-color;
        border: none;
        width: 200px;
        border-radius: 50px;
        padding: 1rem;
      }
  
      &-button:hover {
        background-color: vars.$element-color-hover;
      }
    }
  }
}

/*----- ERROR MESSAGE -----*/
.login-form-right-title-congrat {
  font-size: 24px;
  padding: 0.5rem;
  background-color: rgba($color: vars.$winMessage, $alpha: 0.5);
  border: rgba($color: vars.$winMessage, $alpha: 0.8) 5px solid;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

.login-form-right-title-error {
  font-size: 24px;
  padding: 0.5rem;
  background-color: rgba($color: vars.$lossMessage, $alpha: 0.5);
  border: rgba($color: vars.$lossMessage, $alpha: 0.8) 5px solid;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

/* Tablet and Desktop Version */
@media (min-width:600px) {
  .field-container {
    width: 100%;

  }

  .field {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-left {
      float: left;
      width: 30%;
      text-align: right;
    }
  }
}

/*  Desktop Version */
@media (min-width:1000px) {

  .field {

    &-left {
      width: 25%;
    }
  }
}

/*  Desktop Version */
@media (min-width:1410px) {

  .field {

    &-left {
      width: 15%;
    }
  }
}
